body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FBF9FF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ck-button {
    margin:4px;
    background-color:#F7B773;
    padding:0 5px 0 5px;
    border-radius:4px;
    border:1px solid #710000;
    overflow:auto;
    float:left;
}

#ck-button:hover {
    background:#FBF9FF;
}

#ck-button:active {
   fill:#F4D35E;
}

.navbar {
    background-color: #81171B;
    border:0;
}

.detailed-btn
{
    margin:4px;
 
    padding:0 5px 0 5px;
    border-radius:4px;
    border:1px solid #710000;
    overflow:auto;
    float:left;
  
}

.index-box {
    background-color: #FBF9FF;
    margin:50px 350px 50px 0px;
    padding: 20px 20px 50px 20px;
    border-radius: 0 0 10px 0;
    border:1px solid #81171B ;
}

.index-search-btn {
    float:right;
    font-size: 20px;
    background-color: #81171B;
    border:1px solid #81171B;
    border-radius:4px;
    padding:5px;
    color:white;
    margin : 0 -8px 0 0;
}

.car-logo{
    width:120px;
    height:40px;
    margin:10px 20px 10px 0;
    border-radius:10px
}

.car-logo:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

.nav {
    padding:5px;
    background-color:#81171B;
}

.nav:hover {
     font-size: larger;
     background-color: #000807;
 }

