body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Images/background.png);
    background-color:aquamarine;
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ck-button {
    margin:4px;
    background-color:#F7B773;
    padding:0 5px 0 5px;
    border-radius:4px;
    border:1px solid #710000;
    overflow:auto;
    float:left;
}

#ck-button:hover {
    background:#639FAB;
}

#ck-button:active {
   fill:#F4D35E;
   background-color:yellow;
}

.navbar {
    background-color: #81171B;
    border:0;
}

.detailed-btn
{
    margin:4px;
    background-color:#81171B;
    padding:0 5px 0 5px;
    border-radius:4px;
    border:1px solid #710000;
    overflow:auto;
    float:left;
    color: #BFD7EA;
}

.index-box {
    background-color: #FFF5B2;
    border:1px solid #81171B;
    margin:50px 450px 50px 0px;
    padding: 20px 20px 50px 20px;
    border-radius : 25px;
}

.index-search-btn {
    float:right;
    font-size: 22px;
    background-color: #FF6700;
    border:1px solid #81171B;
    border-radius:20px;
    padding:5px;
}

.text-logo{
    width:120px;
    height:50px;
    position:center;
    margin-right:10px;
}
