@{
    ViewBag.Title = "Home Page";
}

<div class="index-box">
    <div>
        @Html.Partial("_Vehicle")
    </div>

    <div>
        <div class="detailed-btn">
            @Html.ActionLink("Detailed Search", "DetailedSearch", "Vehicle")
        </div>

  
    </div>
</div>