@model Autovivi.Models.Add

@{
    ViewBag.Title = "Create";
}

<h2>Create Add</h2>




<br/>

@Html.Partial("_PartialUser", Model)

@using (Html.BeginForm())
{
    @Html.Partial("_PartialVehicle", Model)

    <input type="file" name="files0" id="files_0" />
    <input type="file" name="files1" id="files_1" />
    <input type="file" name="files2" id="files_2" />
    <input type="file" name="files3" id="files_3" />
    <input type="file" name="files4" id="files_4" />
    <input type="file" name="files5" id="files_5" />
    <input type="file" name="files6" id="files_6" />
    <input type="file" name="files7" id="files_7" />

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
