@model IEnumerable<Autovivi.Models.Add>

@{
    ViewBag.Title = "Index";
}

<h2>My Adds</h2>

<table class="table">
    <tr>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.Vehicle.Brand.ToString(), "Details", new { id = item.Id })</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
